node_modules/
android/shulepro-release.jks
android/key.properties
android/keystore-password.txt
ios/App/Pods/
ios/App/output/
ios/App/App/public/
ios/DerivedData/
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/src/main/assets/public/
